@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Averta", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Averta";
    src: url("/src/fonts/AvertaDemoPECuttedDemo-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  color: white;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.language-icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ru-icon {
  background-image: url("./assets/ru-flag.png");
}

.eng-icon {
  background-image: url("./assets/eng-flag.png");
}

.search-input {
  background: linear-gradient(
    106.67deg,
    #ffffff36 -10.33%,
    #0000000f 39.25%,
    #5050500d
  );
}

.brand:hover .dropdown {
  display: grid;
}
